# Common
ROOTHOST=
HOST=
HOSTNAME=
TZ=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Rclone
RCLONE_REMOTE_PATH=
RCLONE_MOUNT_PATH=
RCLONE_HEALTHCHECK_PATH=
RCLONE_RC_PORT=
MERGERFS_LOCAL_PATH=
MERGERFS_MOUNT_PATH=
MERGERFS_HEALTHCHECK_PATH=

# Uploader
UPLOADER_SNS_TOPIC_URL=
UPLOADER_S3_BASE_PATH=
UPLOADER_LOCAL_PATH=
UPLOADER_REMOTE_PATH=
RCLONE_RC_ENDPOINT=

# Promtail
LOG_HOST=
PROMTAIL_LOKI_CLIENT_URL=
NODE_EXPORTER_AUTH=
CADVISOR_AUTH=

# Traefik
CERT_EMAIL=
AUTHELIA_HOST=
AUTHELIA_HOSTNAME=
CF_DNS_API_TOKEN=